<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <span>Board: <%= @board.name %></span>
        <p>
          <strong>Creator:</strong>
          <spam><%= @board.email %></spam>
        </p>
      </div>
      <div class="card-body">
        <table class="table table-bordered board">
          <tbody>
            <% (0...@board.width).map do |x| %>
              <tr>
                <% (0...@board.height).map do |y| %>
                  <td width="<%= (1.to_f/@board.width) * 100 %>%" height="<%= (1.to_f/@board.height) * 100 %>%">
                    <div class="slot">
                      <% if @board.has_mine?(x: x, y: y) %>
                        <%= image_tag('bomb.png') %>
                      <% else %>
                        <%= image_tag('no-bomb.png') %>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
